.uploadScreenContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    min-height: 100vh;

    font-family: 'Montserrat', sans-serif;
    background: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


.uploadScreenContainer div.header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);

    padding-left: 72px;
    padding-right: 72px;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 7.2px;
    color: #000000;
    opacity: 0.75;
    background-image: linear-gradient(268deg, #016ca0, #369694);
    margin-top: 0px;
}
.uploadScreenContainer .header a:link {
    color: black;
}
.uploadScreenContainer .header a:visited {
    color: black;
}
.uploadScreenContainer .header a:hover {
    color: white;
}
.uploadScreenContainer div.header div.search_container {
    visibility: hidden;
}


.uploadScreenContainer .under_header {
    width: 100%;
    height: 108px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 34px;
    padding-left: 72px;
    padding-right: 72px;
}

.uploadScreenContainer .under_header .description {
    width: 100%;
    min-width: 220px;
    height: auto;
    font-family: 'NotoSansKR';
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;    
}

.uploadScreenContainer .under_header .btn_container {
    visibility: hidden;
}







.uploadScreenContainer div.upload {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 72px;
    margin-right: 72px;
    
    text-align: left;

   
    font-family: 'NotoSansKR';
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;

}

.uploadScreenContainer div.upload input {
    width: 100%;
    height: 72px;
    border-radius: 9px;
    border: solid 1px #9a9a9a;
    padding: 10px;
}

.uploadScreenContainer div.upload textarea{
    width: 100%;
    height: 300px;;
    border-radius: 9px;
    border: solid 1px #9a9a9a;
    padding: 10px;
}

.uploadScreenContainer div.upload div.uploader_container{
    width: 100%;
    height: 196px;
    background-color: green;
}

.uploadScreenContainer div.btn_container{
    width:100%;
    height: 72px;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 47px;
    margin-bottom: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.uploadScreenContainer div.btn_container button.submit_btn{
    width: 312px;
    height: 72px;
    opacity: 0.75;
    border-radius: 9px;
    background-image: linear-gradient(256deg, #369694, #016ca0);
    font-family: 'NotoSansKR';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}
