.detailScreen {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    min-height: 100vh;

    font-family: 'Montserrat', sans-serif;
    background: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.detailScreen div.header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);

    padding-left: 72px;
    padding-right: 72px;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 7.2px;
    color: #000000;
    opacity: 0.75;
    background-image: linear-gradient(268deg, #016ca0, #369694);
    margin-top: 0px;
}

.detailScreen div.header a:link {
    color: black;
}
.detailScreen div.header a:visited {
    color: black;
}
.detailScreen div.header a:hover {
    color: white;
}


.detailScreen div.header div.search_container {
    visibility: hidden;
}
