.detailScreen {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    min-height: 100vh;

  }

.header {
    /* background-color: red; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 15px;
}

.title_container {
    /* background-color: yellow; */
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.btn_container1 {
    /* background-color: blue; */
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.btn_container2 {
    position: absolute;
    top: 10px;
    right: 30px;
}

.home_btn {
    background-color: transparent;
    border: 0px transparent;
    font-size: 2em;
}




/*body css part*/
.body {
    width: 80%;
    /* height: 90%; */
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.detail {
    flex-direction: column;
    margin: 15px;
    /* background-color: red; */
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
}

.pluginTitleContainer {
    width: 60%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 5px;
}

.pluginImageContainer {
    margin-bottom: 15px;
    min-width: 540px;

}

.pluginDescriptionContainer {
    width: 60%;
    min-width: 540px;
    /* background-color: yellow; */
    text-align: left;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.45);

}



